
body{font-family: serif; box-sizing: border-box; padding: 0;}
form{
    background-color: white;
    border-radius: 8px;
    color: #436C94;
    font-size: 14px;
    padding: 20px;
    margin: 0 auto ;
    width: 300px;
}
body{ 

    font-family: Arial;
}
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 15px 9x;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}
.btn-green{
    color: white;
    background-color: #3CC93F;
}
.btn-green:hover{
    background-color: #37B839;	
}
.btn-green:active{
    background-color: #29962A;
}
.btn-red{
    color: white;
    background-color: #E34242;
}
.btn-red:hover{
    background-color: #C43535;	
}
.btn-red:active{
    background-color: #A62828;
}
table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 80%;
}

th, td{
    padding: 5px;
}

thead{
    background-color: #246355;
    border-bottom: solid 2px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

